# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
#!pip install gmaps

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.figure

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
city_data_df = pd.read_csv("../Weather_database/WeatherPy_Database.csv")
# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Waingapu,ID,-9.6567,120.2641,81.01,81,100,0.94,overcast clouds
1,1,Lagoa,PT,39.0500,-27.9833,64.02,90,9,25.08,clear sky
2,2,Tasiilaq,GL,65.6145,-37.6368,32.16,64,15,6.60,few clouds
3,3,Busselton,AU,-33.6500,115.3333,53.47,86,43,7.92,scattered clouds
4,4,Belen,TR,36.4891,36.2233,53.74,67,75,4.61,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("what is your desired minimum temperature for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("what is your desired maximum temperature for your trip?"))

what is your desired minimum temperature for your trip?55
what is your desired maximum temperature for your trip?89

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] > min_temp)].dropna() 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Waingapu,ID,-9.6567,120.2641,81.01,81,100,0.94,overcast clouds
1,1,Lagoa,PT,39.0500,-27.9833,64.02,90,9,25.08,clear sky
5,5,Bluff,NZ,-46.6000,168.3333,58.80,67,100,3.24,overcast clouds
6,6,Port Elizabeth,ZA,-33.9180,25.5701,63.32,79,0,11.50,clear sky
8,8,Kaset Sombun,TH,16.2805,101.9542,76.19,76,86,1.99,overcast clouds
11,11,Ponta Do Sol,PT,32.6667,-17.1000,70.43,72,100,4.34,overcast clouds
12,12,Bambous Virieux,MU,-20.3428,57.7575,71.85,60,40,8.05,scattered clouds
13,13,Mecca,SA,21.4267,39.8261,78.98,71,3,1.97,clear sky
22,22,Bathsheba,BB,13.2167,-59.5167,84.81,70,40,18.41,scattered clouds
23,23,Hithadhoo,MV,-0.6000,73.0833,81.30,77,97,15.59,overcast clouds

In [6]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()
# Display sample data
clean_travel_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Waingapu,ID,-9.6567,120.2641,81.01,81,100,0.94,overcast clouds
1,1,Lagoa,PT,39.0500,-27.9833,64.02,90,9,25.08,clear sky
5,5,Bluff,NZ,-46.6000,168.3333,58.80,67,100,3.24,overcast clouds
6,6,Port Elizabeth,ZA,-33.9180,25.5701,63.32,79,0,11.50,clear sky
8,8,Kaset Sombun,TH,16.2805,101.9542,76.19,76,86,1.99,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Riyadh,SA,24.6877,46.7219,71.74,29,0,9.57,clear sky
673,673,Tessalit,ML,20.1986,1.0114,74.79,16,100,6.51,overcast clouds
674,674,Lufilufi,WS,-13.8745,-171.5986,85.78,74,100,18.37,overcast clouds
675,675,Mudkhed,IN,19.1667,77.5167,62.76,52,0,1.74,clear sky
676,676,La Asuncion,VE,11.0333,-63.8628,87.53,66,6,16.11,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df

# Display sample data
clean_travel_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Waingapu,ID,-9.6567,120.2641,81.01,81,100,0.94,overcast clouds
1,1,Lagoa,PT,39.0500,-27.9833,64.02,90,9,25.08,clear sky
5,5,Bluff,NZ,-46.6000,168.3333,58.80,67,100,3.24,overcast clouds
6,6,Port Elizabeth,ZA,-33.9180,25.5701,63.32,79,0,11.50,clear sky
8,8,Kaset Sombun,TH,16.2805,101.9542,76.19,76,86,1.99,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Riyadh,SA,24.6877,46.7219,71.74,29,0,9.57,clear sky
673,673,Tessalit,ML,20.1986,1.0114,74.79,16,100,6.51,overcast clouds
674,674,Lufilufi,WS,-13.8745,-171.5986,85.78,74,100,18.37,overcast clouds
675,675,Mudkhed,IN,19.1667,77.5167,62.76,52,0,1.74,clear sky
676,676,La Asuncion,VE,11.0333,-63.8628,87.53,66,6,16.11,light rain

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = "None"
hotel_df.head(10)

# Display sample data
#hotel_df["Hotel Name"] = ""
#hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Waingapu,ID,81.01,overcast clouds,-9.6567,120.2641,None
1,Lagoa,PT,64.02,clear sky,39.0500,-27.9833,None
5,Bluff,NZ,58.80,overcast clouds,-46.6000,168.3333,None
6,Port Elizabeth,ZA,63.32,clear sky,-33.9180,25.5701,None
8,Kaset Sombun,TH,76.19,overcast clouds,16.2805,101.9542,None
11,Ponta Do Sol,PT,70.43,overcast clouds,32.6667,-17.1000,None
12,Bambous Virieux,MU,71.85,scattered clouds,-20.3428,57.7575,None
13,Mecca,SA,78.98,clear sky,21.4267,39.8261,None
22,Bathsheba,BB,84.81,scattered clouds,13.2167,-59.5167,None
23,Hithadhoo,MV,81.30,overcast clouds,-0.6000,73.0833,None

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
#Review the parameter to search for a hote
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

In [11]:
#Iterate through the hotel DataFrame
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [12]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!= "")]

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Waingapu,ID,81.01,overcast clouds,-9.6567,120.2641,Pondok Wisata Elim
1,Lagoa,PT,64.02,clear sky,39.0500,-27.9833,Casa Das Faias
5,Bluff,NZ,58.80,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
6,Port Elizabeth,ZA,63.32,clear sky,-33.9180,25.5701,39 On Nile Guest House
8,Kaset Sombun,TH,76.19,overcast clouds,16.2805,101.9542,โรงแรมบุญเทวา

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [13]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.

hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   -9.6567  120.2641
1   39.0500  -27.9833
5  -46.6000  168.3333
6  -33.9180   25.5701
8   16.2805  101.9542
11  32.6667  -17.1000
12 -20.3428   57.7575
13  21.4267   39.8261
22  13.2167  -59.5167
23  -0.6000   73.0833

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [20]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))